/*
colors used
#B151D1 (171,81,209) will be the primary accent color
##013702 (88,13,114) will be the primary background color (text will be white)
#136F63 (19,111,99) will be the color used for cards, buttons, or other large elements
#22AAA1 (34,170,161) will be the secondary accent color
#4CE0D2 (76,224,210) will be used rarely to draw attention to very specific details
*/
img {
  width: 100%;
}

header {
  background-color: #515151;
  padding: 10px;
  margin: 10 px auto;
  text-align: center;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.75);
  position: fixed;
  width: 100%;
}

main {
  padding-top: 133px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav > ul > li > a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #22AAA1;
}

nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #B9D1BA;
}

nav > ul > li > a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0.8;
}

* {
  box-sizing: border-box;
}

.logo {
  max-width: 250px;
}

#hero {
  background-color: #515151;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

body {
  background-color: #013702;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #FFFFFF;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

a {
  color: #FFFFFF;
}

a:visited { /* visited link */
  color: #B9D1BA;
}

a:hover,
a:focus {
  color: #22aaa1;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #22AAA1;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #387936;
  color: #FFFFFF; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #FFFFFF; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

/* Layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.center {
  text-align: center;
}
