/*
colors used
#B151D1 (171,81,209) will be the primary accent color
##013702 (88,13,114) will be the primary background color (text will be white)
#136F63 (19,111,99) will be the color used for cards, buttons, or other large elements
#22AAA1 (34,170,161) will be the secondary accent color
#4CE0D2 (76,224,210) will be used rarely to draw attention to very specific details
*/
img {
  width: 100%;
}

body {
  background-color: #013702;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #FFFFFF;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

a {
  color: #FFFFFF;
}

a:visited { /* visited link */
  color: #B9D1BA;
}

a:hover,
a:focus {
  color: #22aaa1;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #22AAA1;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #387936;
  color: #FFFFFF; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #FFFFFF; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
