/*
colors used
#B151D1 (171,81,209) will be the primary accent color
##013702 (88,13,114) will be the primary background color (text will be white)
#136F63 (19,111,99) will be the color used for cards, buttons, or other large elements
#22AAA1 (34,170,161) will be the secondary accent color
#4CE0D2 (76,224,210) will be used rarely to draw attention to very specific details
*/
* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

header {
  background-color: #013702;
  padding: 10px 0 4px;
  margin: 10 px auto;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.75);
  position: fixed;
  width: 100%;
}

main {
  padding-top: 56px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #387936;
}

nav > ul > li > a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #22AAA1;
}

nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #387936;
}

nav > ul > li > a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0.8;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 35px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

.logo {
  max-width: 150px;
}

#hero {
  background-color: #515151;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#hero span {
  display: block;
}

body {
  background-color: #013702;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #FFFFFF;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

a {
  color: #FFFFFF;
}

a:visited { /* visited link */
  color: #B9D1BA;
}

a:hover,
a:focus {
  color: #22aaa1;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #22AAA1;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #387936;
  color: #FFFFFF; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #FFFFFF; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 50px;
}

footer {
  background-color: #515151;
  padding: 10px;
  margin: 10 px auto;
  width: 100%;
  text-align: center;
}

/* Layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.center {
  text-align: center;
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 50px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul {
  margin: 1em 0;
}

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}

  body {
    font-size: 18px; /* Sets the font size to 18px */
  }

  .col-md-6 {
  width: 50%;
  }

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 18px; /* Sets the font size to 18px */
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul {
  margin: 1em 0;
}

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}

  .col-lg-7 {
  width: 60%;
  }

  .col-lg-5 {
  width: 40%;
  }

  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

}
